#! /usr/bin/env bash

sudo -u twentyfouronline /opt/twentyfouronline/lnms smokeping:generate --targets > /etc/smokeping/twentyfouronline-targets.conf
sudo -u twentyfouronline /opt/twentyfouronline/lnms smokeping:generate --probes  > /etc/smokeping/twentyfouronline-probes.conf

systemctl reload smokeping > /dev/null 2<&1




